html {
  height: 100%;
  width: 100%;
}

body {
  color: white;
  background-color: cadetblue;
  font-family: comic sans-serif;
}

tr {
  text-align: center;
}

#header {
  text-align: center;
  background-color: yellow;
  font-color: brown;
}